#ca-view-source {
	cursor: pointer !important; /* stylelint-disable-line declaration-no-important */
}

#source-toc {
	padding: 10px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}

#source-toc li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#source-code {
	white-space: pre-wrap;
}

#source-code a {
	text-decoration: underline;
	color: inherit;
}

/* UCP fixes */
.ooui-theme-fandom #source-code {
	padding: 12px;
	font-size: 14px;
	line-height: 16px;
}
