#PRAQueueProgress {
	border: 2px solid #000;
	box-sizing: border-box;
	float: right;
	height: 17px;
	margin: 6px 5px 0 0;
	width: 200px;
}

.theme-dark #PRAQueueProgress {
	border-color: #fff;
}

#PRAProgressInd {
	background-color: #008000;
	float: left;
	height: 100%;
	width: 0%;
}

.theme-dark #PRAProgressInd {
	background-color: #006400;
}

#PRAFailedLog div:nth-child( odd ) {
	background-color: #8b0000;
}

#PRAQueue div:nth-child( odd ) {
	background-color: #d3d3d3;
}

.theme-dark #PRAQueue div:nth-child( odd ) {
	background-color: #333;
}

.mw-input a {
	font-weight: bold;
}

#PRAstart {
	margin-left: 0;
}

#PRAprocess {
	margin-left: 5px;
}

#PRAStatus {
	font-weight: bold;
}

#PRAQueue {
	background-color: #fff;
	border: 1px solid #000;
	box-sizing: border-box;
	float: left;
	font-weight: bold;
	height: 300px;
	overflow: scroll;
	width: 798px;
}

.theme-dark #PRAQueue {
	background-color: #000;
	border-color: #fff;
}

#PRAQueueLength {
	float: left;
	font-weight: bold;
	margin: 5px 15px 0 0;
}

#PRAFailedLog {
	background-color: #ffbfbf;
	color: #000;
	border: 1px solid #000;
	box-sizing: border-box;
	font-weight: bold;
	height: 150px;
	margin: 5px auto 0 auto;
	overflow: scroll;
	width: 798px;
}

.theme-dark #PRAFailedLog {
	background-color: #8b0000;
	border-color: #fff;
}

#wpNewTitleMain {
	width: 100%;
	box-sizing: border-box;
}
