#MassCat-content-container {
	padding: 8px;
	font-size: 14px;
}

#MassCatModal .oo-ui-window-body {
	overflow-y: hidden;
}

#MassCatModal .oo-ui-window-body.overflow-allowed {
	overflow-y: auto;
}

#MassCatModal .oo-ui-processDialog-actions-safe {
	display: none;
}

#MassCatModal .oo-ui-processDialog-location {
	/* Yes. We have to. UCP modals suck. */
	padding-left: 15px !important; /* stylelint-disable-line declaration-no-important */
	text-align: left;
}

#MassCat-updates-container {
	display: flex;
}

#MassCat-updates-list {
	flex-grow: 1;
}

#MassCat-category-adder {
	text-align: center;
	flex-shrink: 0;
	user-select: none;
}

#MassCat-add-category,
#MassCat-remove-category {
	cursor: pointer;
	font-size: 16px;
}

#MassCat-remove-category.disabled {
	display: none;
}

.MassCat-category-update {
	padding-bottom: 4px;
}

.MassCat-category-input-wrapper {
	padding-bottom: 4px;
}

.MassCat-category-input {
	width: 90%;
}

.MassCat-mode-select-wrapper {
	padding-bottom: 4px;
}

#MassCat-options-container {
	padding-bottom: 8px;
}

.MassCat-options-label {
	display: block;
}

#MassCat-pages-container {
	padding-bottom: 4px;
}

.MassCat-pages-textarea {
	width: 90%;
	height: 120px;
}

.MassCat-logger {
	font-weight: bold;
	margin: 8px;
	padding: 10px;
	margin-right: 30px;
	color: #222;
	border: 1px solid #000;
}

#MassCat-status-container {
	background-color: #fffbe6;
}

#MassCat-errors-container {
	background-color: #ffbfbf;
}

.MassCat-hidden {
	display: none;
}

.MassCat-fading-in {
	animation: MassCat-fading-in 300ms linear;
}

.MassCat-fading-out {
	animation: MassCat-fading-out 300ms linear;
}

@keyframes MassCat-fading-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes MassCat-fading-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
